<!--
This file is part of EDUC-tools.

    EDUC-tools is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    EDUC-tools is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with EDUC-tools.  If not, see <http://www.gnu.org/licenses/>.
-->

<ion-view>
    <ion-nav-title>{{::titre}}</ion-nav-title>

    <ion-content class="padding selectable" overflow-scroll="true">

        <div id="zoneTp">
            <div class="padding" ng-show="showError">
                <p>
                    Des erreurs sont survenues pendant le chargement du tp :
                </p>
                <ul class="assertive">
                    <li ng-repeat="err in initError track by $index">
                        {{err}}
                    </li>
                </ul>
            </div>

            <div class="my_tp" ng-repeat="data in tps track by $index"
            ng-show="!showError">
                <my-tp data="data">
                </my-tp>
            </div>
        </div>

    </ion-content>
</ion-view>