<ion-modal-view>
    <ion-header-bar class="bar-assertive menu-content">
        <h1 class="title">{{::bug.titre}}</h1>
        <button class="my_icon-larger my_icon-adjust button-clear button"
        ng-click="closeBug()">
            <i class="button-icon ion-android-close dark"></i>
        </button>
    </ion-header-bar>
    <ion-content class="padding">
        <p class="my_important card padding">
            <i class="button-icon my_i-larger ion-android-warning assertive">
            </i>
            Merci de vérifier qu'il s'agit bien d'un bug avant d'envoyer un
            rapport au développeur !
        </p>

        <h3>Dans un premier temps,</h3>
        <p>
            veuillez décrire le bug le plus précisémment
            possible (page, texte d'erreur, etc...), ainsi qu'une procédure pour
            le reproduire :
                <textarea class="my_textarea-bug item-input" rows="5"
                ng-model="userReport" ng-init="userReport=''"
                placeholder="Explications (16 à 256 caractères)">
                </textarea>
        </p>

        <h3>Ensuite, </h3>
        <br />
        <p>
            copier-coller le rapport ci-dessous afin de l'envoyer au développeur
             (email dans l'onglet contact) :
        </p>
        <br />
            <button class="button button-royal my_butt-center"
            ng-click="copyToClipboard(userReport)">
                <i class="button-icon my_i-larger ion-android-clipboard"></i>
                Copier
            </button>
        <br />
        <p>
            <textarea class="my_textarea-bug item-input" rows="10" readonly>{{
                bug.begRapport + userReport+ bug.endRapport}}
            </textarea>
        </p>


    </ion-content>
  </ion-modal-view>